//Imports
@import "helper/variable.scss";
@import "helper/mixins.scss";



.trigger{
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 24px;
    background:black;
}

.hover{
    @include transition(all .5s);
    color: plum;
}



body{
    
    font-family: $font-main;
    background: #fcfcfc;
    //Home page
.container{
    
        width: 100%;
        height: 100vh;
        display: table;
        a{
            text-decoration: none;
            color: black;
            display: table-cell;
            vertical-align: middle;

            .title{
                text-align: center;
                font-family: $font-title;
                font-weight: 400;
                font-size: 50px;
                &:hover{
                    @extend .hover;
                    
                }
            }
        }
    
    
    }
}


//Gallery
.top-nav{

    position: fixed;
    z-index: 200;
    top: 0px;
    left: 0;
    height: 60px;
    width: 100%;
    background:inherit;
    // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    a{
        .logo{
            float: left;
            display: block;
            font-family: $font-title;
            font-weight: 600;
            margin: 18px 0 0 6%;
            color: $font-color;
            &:hover{
                @extend .hover;
                
        }
    }
    
    }
    .nav-trigger{
        float: right;
        position: relative;
        display: block;
        width: 40px;
        height: 50px;
        margin-right: 6%;
        margin-top: 20px;
        overflow: hidden;
        white-space: nowrap;
        color: transparent;
        position: relative;
        @include transform(rotate(0deg));
        @include transition(.5s ease-in-out);
       

        span{
            display: block;
            position: absolute;
            height: 4px;
            width: 85%;
            background: $font-color;
            border-radius: 2px;
            opacity: 1;
            left: 0;
            
            @include transform(rotate(0deg));
            @include transition(.25s ease-in-out);
            
            &:nth-child(1) {
                top: 0px;
            }
            &:nth-child(2) {
                top: 9px;
            }
            &:nth-child(3) {
                top: 18px;
            }

            
        }
        
        
           
     }
     .open{
        
        span{
            &:nth-child(1) {
                top: 12px;
                @include transform(rotate(135deg));
            }
            &:nth-child(2) {
                left: -60px;
            }
            &:nth-child(3) {
                top: 12px;
                @include transform(rotate(-135deg));
            }
        }
    }
    @include respond-to(medium-screens) {  
       visibility: hidden;
       
    }
    @include respond-to(wide-screens) {  
        visibility: hidden;
       
    }

    }

    .container-main{

        .side-nav{
            position: fixed;
            left: 0;
            top: 0;
            z-index: 100;
            width: 100%;
            padding: 45px 0 0;
            background-color: #fcfcfc;
            color: grey;
            visibility: hidden;
            opacity: 0;
            max-height: 100vh;
            overflow: hidden;
            @include transition(opacity 0.4s 0s, visibility 0s 0.2s);
            @include respond-to(handhelds) { }
            @include respond-to(medium-screens) {  
                position: relative;
                float: left;
                width: 150px;
                /* reset style */
                visibility: visible;
                opacity: 1;
            }
             @include respond-to(wide-screens) {
                position: relative;
                float: left;
                width: 150px;
                /* reset style */
                visibility: visible;
                opacity: 1;
             }
            .nav-wrapper{
                
                position: relative;
                width: 95%;
                margin: 10px auto;
                min-height: 62px;
                height: 100vh;
                padding: 20px 0 50px 0;
                @include respond-to(medium-screens) {  
                    position: fixed;
                    margin-left: 2%;
                    width: 200px;
                }
                @include respond-to(wide-screens) {  
                    position: fixed;
                    margin-left: 2%;
                    width:250px;
                }
              
                ul{
                    list-style: none;
                    margin-left: -25px;
                    
                    .sub-list{
    
                        margin-top: -10px;
                        
                        li{
                            margin: 5px 0 0 -15px;
                            a{
                                text-decoration: none;
                                color: $font-color;
                                font-weight: 400;
                                &:hover{
                                    @extend .hover;
                                }
                            }
                        }
                    }
                    li{
                        @include respond-to(medium-screens) {  
                            width: 170px;
                        }
                        @include respond-to(wide-screens) {  
                            width: 170px;
                        }
                        a{
                            text-decoration: none;
                            color: $font-color;
                            font-weight: 300;
                            &:hover{
                                @extend .hover;
                            }
                            h3{
                                font-weight: 400;
                            }
                        }

                        .side-logo{
                            visibility: hidden;
                            font-weight: 600;
                            @include respond-to(medium-screens) {  
                                visibility: visible;
                            }
                            @include respond-to(wide-screens) {  
                                visibility:  visible;
                            }
                        }
                    }
                    
    
                }
            .social-links{
                margin: 3.5em 0 0 20px;
                
                display: block;
                
                    a{
                    float: left;
                    clear: left;
                    font-size: 15px;
                    text-decoration: none;
                    color: $font-color;
                    margin-bottom: 10px;
                    &:hover{
                        @extend .hover;
                    }
                  
                    
                }
            }
            
        }
    
    
        }
        .side-nav-visible{
        opacity: 1;
        visibility: visible;
        @include transition(opacity 0.2s 0s, visibility 0s 0s); 
        }

        .content{

            width: 95%;
            margin: 150px auto;
            float: none;
            @include respond-to(medium-screens) {  
                position: relative;
                float: left;
                // width: 75%;
                width: calc(100% - 300px);
                margin-top: 50px;
                margin-left: 200px;

               
            }
            @include respond-to(wide-screens) {  
                position: relative;
                float: left;
                width: calc(100% - 300px);
                margin-top: 50px;
                margin-left: 200px;
               
            }

            .img-container{
                margin: 0 auto 95px;
                width: 90%;
                font-size: 12px;
                @include respond-to(medium-screens) {  
                 
                    width: 80%;
                  
                }
                @include respond-to(wide-screens) {  
                    width: 60%;
                   
                }
                a{
                    text-decoration: none;
                 
                }
                 img{
                       width: 100%;
                     
                      
                       
                 }
                 p{
                       font-size: 12px;
                       color: gray;
                       text-align: center;
                       a{
                           background: grey;
                           color: #fcfcfc;
                           padding: 5px;
                           border-radius: 5px;
                           line-height: 3.5em;
                           text-decoration: none;
                           z-index: 3000;
                           &:hover{
                              background: lightgray;
                           }   
                        }
                       @include respond-to(medium-screens) {  
                        
                            font-size: 14px;
                           
                        }
                        @include respond-to(wide-screens) {  
                            
                            font-size: 16px;
                            
                            
                      }
                   }
              }
              .bio-pic{
                margin-bottom: 30px;
                @include respond-to(medium-screens) {  
                      display: inline-block;
                      width: 35%;
                      margin-left: 50px;
                     
                 }
                 @include respond-to(wide-screens) {  
                      
                      display: inline-block;
                      width: 35%;
                      margin-left: 50px;
                   
                }
            
             }


             .bio{
                  margin-bottom: 30px;
                  @include respond-to(medium-screens) {  
                        display: inline-block;
                        vertical-align: top;
                        width: 50%;
                        margin-left: 30px;
                       
                   }
                   @include respond-to(wide-screens) {  
                        
                        display: inline-block;
                        vertical-align: top;
                        width: 50%;
                        margin-left: 30px;
                        margin-top: -20px;
                     
                  }
                  
                  p{
                      font-size: 16px;
                      text-align: left;
                      line-height: 2em;
                  }
              }
              .contact{
                margin-bottom: 30px;

                p{
                    font-size: 16px;
                    text-align: left;
                    line-height: 2em;
                }
                h2{
                    color: inherit;
                    span{
                        font-weight: 500;
                        a{
                            text-decoration: none;
                            color: gray;
                        }
                    }
                }


              }


        }


       





    }
    
        
    
        
    
    
    

