//Media queries

    $small: 544px;
    $medium: 768px;
    $large: 1024px;
    $xlarge: 1200px;
    $xxlarge: 1440px;







@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin transform($transform...){
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

@mixin respond-to($media) {
    @if $media == handhelds {
      @media only screen and (min-width: $small) and (max-width: $medium - 1) { @content; }
    }
    @else if $media == medium-screens {
      @media only screen and (min-width: $medium) { @content; }
    }
    @else if $media == wide-screens {
      @media only screen and (min-width: $large) { @content; }
    }
}